*.log
*.db

# Configuration files
ip_bans.yaml
secrets.yaml

# Folders
deps
secrets
tts
www/images/floorplan
.ps4-games.C863F1D6190F_eae6.json

known_devices.yaml

www/images/vacuum_map.png

www/images/vacuum_map_real.png
